[Unit]
Description=ZYJ Local Model Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/hdubots
ExecStart=/bin/bash -c "source /root/miniconda3/etc/profile.d/conda.sh && conda activate hdubots && source venv/bin/activate && python /root/hdubots/main.py dev local_model"

Restart=always

User=root

[Install]
WantedBy=multi-user.target
